@import "tailwindcss";

@theme {
    --color-brand-50: #f0f9ff;
    --color-brand-100: #e0f2fe;
    --color-brand-500: #0ea5e9;
    --color-brand-600: #0284c7;
    --color-brand-700: #0369a1;
}

@layer base {
    body {
        @apply bg-gray-50 text-gray-900 antialiased;
    }
}