[Unit]
Description=MailDeck API Service
After=network.target

[Service]
Type=notify
User=root
WorkingDirectory=/opt/maildeck/api
ExecStart=/usr/bin/dotnet /opt/maildeck/api/MailDeck.Api.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=maildeck-api
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
